In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv('D:/Stephy/data-engineer-journey/day_5_nashville_etl/Nashville_housing_data_2013_2016.csv')
# Display the first few rows of the dataset
print(df.head()) 
# Display the shape of the dataset
print("Shape of the dataset:", df.shape)

   Unnamed: 0.1  Unnamed: 0         Parcel ID           Land Use  \
0             0           0  105 03 0D 008.00  RESIDENTIAL CONDO
1             1           1   105 11 0 080.00      SINGLE FAMILY
2             2           2   118 03 0 130.00      SINGLE FAMILY
3             3           3   119 01 0 479.00      SINGLE FAMILY
4             4           4   119 05 0 186.00      SINGLE FAMILY

    Property Address Suite/ Condo   # Property City   Sale Date  Sale Price  \
0    1208  3RD AVE S                8     NASHVILLE  2013-01-24      132000
1   1802  STEWART PL              NaN     NASHVILLE  2013-01-11      191500
2  2761  ROSEDALE PL              NaN     NASHVILLE  2013-01-18      202000
3  224  PEACHTREE ST              NaN     NASHVILLE  2013-01-18       32000
4      316  LUTIE ST              NaN     NASHVILLE  2013-01-23      102000

    Legal Reference  ... Building Value Total Value Finished Area  \
0  20130128-0008725  ...            NaN         NaN           NaN
1  20130118-0006337  ...       134400.0    168300.0    1149.00000
2  20130124-0008033  ...       157800.0    191800.0    2090.82495
3  20130128-0008863  ...       243700.0    268700.0    2145.60001
4  20130131-0009929  ...       138100.0    164800.0    1969.00000

  Foundation Type Year Built Exterior Wall  Grade Bedrooms  Full Bath  \
0             NaN        NaN           NaN    NaN      NaN        NaN
1         PT BSMT     1941.0         BRICK   C         2.0        1.0
2            SLAB     2000.0   BRICK/FRAME   C         3.0        2.0
3       FULL BSMT     1948.0   BRICK/FRAME   B         4.0        2.0
4           CRAWL     1910.0         FRAME   C         2.0        1.0

  Half Bath
0       NaN
1       0.0
2       1.0
3       0.0
4       0.0

[5 rows x 31 columns]
Shape of the dataset: (56636, 31)

In [2]:

print(df.info())    
# Display summary statistics of the dataset
print(df.describe())
# Display the column names
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56636 entries, 0 to 56635
Data columns (total 31 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0.1                       56636 non-null  int64
 1   Unnamed: 0                         56636 non-null  int64
 2   Parcel ID                          56636 non-null  object
 3   Land Use                           56636 non-null  object
 4   Property Address                   56477 non-null  object
 5   Suite/ Condo   #                   6109 non-null   object
 6   Property City                      56477 non-null  object
 7   Sale Date                          56636 non-null  object
 8   Sale Price                         56636 non-null  int64
 9   Legal Reference                    56636 non-null  object
 10  Sold As Vacant                     56636 non-null  object
 11  Multiple Parcels Involved in Sale  56636 non-null  object
 12  Owner Name                         25261 non-null  object
 13  Address                            26017 non-null  object
 14  City                               26017 non-null  object
 15  State                              26017 non-null  object
 16  Acreage                            26017 non-null  float64
 17  Tax District                       26017 non-null  object
 18  Neighborhood                       26017 non-null  float64
 19  image                              25335 non-null  object
 20  Land Value                         26017 non-null  float64
 21  Building Value                     26017 non-null  float64
 22  Total Value                        26017 non-null  float64
 23  Finished Area                      24166 non-null  float64
 24  Foundation Type                    24164 non-null  object
 25  Year Built                         24165 non-null  float64
 26  Exterior Wall                      24165 non-null  object
 27  Grade                              24165 non-null  object
 28  Bedrooms                           24159 non-null  float64
 29  Full Bath                          24277 non-null  float64
 30  Half Bath                          24146 non-null  float64
dtypes: float64(10), int64(3), object(18)
memory usage: 13.4+ MB
None
       Unnamed: 0.1   Unnamed: 0    Sale Price       Acreage  Neighborhood  \
count   56636.00000  56636.00000  5.663600e+04  26017.000000  26017.000000
mean    28317.50000  28317.50000  3.272111e+05      0.498903   4356.215782
std     16349.54926  16349.54926  9.287425e+05      1.570396   2170.348270
min         0.00000      0.00000  5.000000e+01      0.010000    107.000000
25%     14158.75000  14158.75000  1.350000e+05      0.180000   3126.000000
50%     28317.50000  28317.50000  2.054500e+05      0.270000   3929.000000
75%     42476.25000  42476.25000  3.290000e+05      0.450000   6228.000000
max     56635.00000  56635.00000  5.427806e+07    160.060000   9530.000000

         Land Value  Building Value   Total Value  Finished Area  \
count  2.601700e+04    2.601700e+04  2.601700e+04   24166.000000
mean   6.907267e+04    1.608025e+05  2.323971e+05    1926.954345
std    1.060405e+05    2.068041e+05  2.810703e+05    1687.017313
min    1.000000e+02    0.000000e+00  1.000000e+02       0.000000
25%    2.100000e+04    7.590000e+04  1.028000e+05    1239.000000
50%    2.880000e+04    1.114000e+05  1.485000e+05    1632.000000
75%    6.000000e+04    1.807000e+05  2.685000e+05    2212.000000
max    2.772000e+06    1.297180e+07  1.394040e+07  197988.000000

         Year Built      Bedrooms     Full Bath     Half Bath
count  24165.000000  24159.000000  24277.000000  24146.000000
mean    1963.749224      3.090029      1.886106      0.283981
std       26.546141      0.852942      0.961572      0.487905
min     1799.000000      0.000000      0.000000      0.000000
25%     1948.000000      3.000000      1.000000      0.000000
50%     1960.000000      3.000000      2.000000      0.000000
75%     1983.000000      3.000000      2.000000      1.000000
max     2017.000000     11.000000     10.000000      3.000000
Index(['Unnamed: 0.1', 'Unnamed: 0', 'Parcel ID', 'Land Use',
       'Property Address', 'Suite/ Condo   #', 'Property City', 'Sale Date',
       'Sale Price', 'Legal Reference', 'Sold As Vacant',
       'Multiple Parcels Involved in Sale', 'Owner Name', 'Address', 'City',
       'State', 'Acreage', 'Tax District', 'Neighborhood', 'image',
       'Land Value', 'Building Value', 'Total Value', 'Finished Area',
       'Foundation Type', 'Year Built', 'Exterior Wall', 'Grade', 'Bedrooms',
       'Full Bath', 'Half Bath'],
      dtype='object')

In [ ]:
import ydata_profiling

# Generate a profile report
profile = ydata_profiling.ProfileReport(df, title="Nashville Housing Data Profile", explorative=True)
# Save the profile report to an HTML file   
profile.to_file("nashville_housing_data_profile.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 31/31 [00:05<00:00,  5.81it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]