# 1. Function
- for code reuse
- **Function definition**:
  - ```
    def function_name(arguments):
        '''
            doc-string(comments about the functions - how it works)
        '''
        statements
        return value 
    ```
- arguments and return statement are optional

In [ ]:
len() # Shift + tab shows the doc-string

In [13]:
def say_my_name():
    print("Stephy")

In [15]:
say_my_name()

Stephy

## 1.1 Function Arguments
### 1.1.1 Default/Keyword Arguments

In [19]:
def double_the_no(num = 1):
    return num * 2

In [27]:
print(double_the_no())   # Default
print(double_the_no(10))   # num = 10

2
20

### 1.1.2 Positional Arguments
- arguments cannot have an '=' or default value.
- expects atleast one argument.
- cannot accept more than specified no of arguments

In [39]:
def double_the_no(num):
    return num * 2

In [41]:
double_the_no()

TypeError: double_the_no() missing 1 required positional argument: 'num'

In [43]:
double_the_no(12)

24

### 1.1.3 Dynamic Arguments
- **\*args** - to pass variable no. of arguments.
- **\*\*kwargs** - to pass dictionary.

In [46]:
def database_col(*args):
    for arg in args:
        print(arg)

database_col("name","age","phone")

name
age
phone

In [52]:
def database_col(**kwargs):
    for item in kwargs.items():
        print(item)

database_col(name="Stephy", age=21)

('name', 'Stephy')
('age', 21)

## 1.2 Lambda Function
- anonymous function
- written in a single line

In [3]:
square_num = lambda num: num**2
square_num(2)

4

In [9]:
say_hello = lambda :print("hello")
say_hello()

hello

---
# 2. Object Oriented Programming(OOP)
## 2.1 Object
- Everything in Python is an object

In [17]:
print(type(1))
print(type('s'))
print(type([]))
print(type(()))
print(type({}))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

## 2.2 Class
- Helps us make our own objects ( user-defined objects ) using *class* keyword.
- Multiple instances of the class can be created.

In [30]:
class Sample():   # In Python this is an object. A new object type called Sample is created
    pass
    
x = Sample()   # An instance of Sample class. We instantiate the Sample class
y = Sample()

print(type(x))

<class '__main__.Sample'>

### 2.2.1 Attribute
- Syntax - **self.attribute = something**
- special method **'\_\_init\_\_()'** is called right after the object is created.
- Attribute = variable in Python.

In [35]:
class Dog(object):
    def __init__(self, breed):
        self.breed = breed
sam = Dog("Lab") # Instance or copy of Dog class
sam.breed

'Lab'

### 2.2.2 Method
- Method = function in Python.

In [51]:
class Circle(object):
    pi = 3.14   # Default attribute ( called Class - Object attribute )
    def __init__(self, radius = 1):
        self.radius = radius
    def area(self):
        return Circle.pi * self.radius * self.radius
    def setRadius(self, radius):
        self.radius = radius
    def getRadius(self):
        return self.radius

c = Circle()
c.setRadius(5)
print("Radius = ", c.getRadius())
print("Area = ", c.area())

Radius =  5
Area =  78.5

### 2.2.3 Instance vs Class vs Static Method
- Instance method - **self**
- Class method - **cls**
- Static method - nothing

In [66]:
class MyClass(object):
    # Class attribute
    School_name = 'ABC School'

    # Constructor
    def __init__(self, name, age):
        # Instance attributes
        self.name = name
        self.age = age

    # Instance method 
    def show(self):
        print(self.name, self.age, MyClass.School_name)

    @classmethod
    def changeSchool(cls, school_name):
        cls.School_name = school_name

    @staticmethod
    def find_notes(subject_name):
        print("chapter 1, chapter 2, chapter 3")

Stephy = MyClass("Stephy", 21)
print("Name = ", Stephy.name,"\nAge = ", Stephy.age, "\nSchool = ", Stephy.School_name)
MyClass.changeSchool("FPS")
Stephy.show()
Stephy.find_notes("chem")

Name =  Stephy
Age =  21
School =  ABC School
Stephy 21 FPS
chapter 1, chapter 2, chapter 3

## Mini Challenge 1
Write a function square_root having default value of a = 9 and find the square root of the same.

In [69]:
def square_root(a = 9):
    return a**2
square_root()

81

In [71]:
square_root = lambda a = 9 : a**2
square_root()

81

## Mini Challenge 2
Write a function function_tuple that takes in two numbers a and b and returns the sum as well as the product of these numbers.

In [79]:
def function_tuple(a, b):
    print("Sum = ", a + b)
    print("Product = ", a * b)

function_tuple(2, 13)

Sum =  15
Product =  26